body { padding-top:30px; 
background-color: grey;
font-display: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1 {
    color: indigo;
    border: solid 10px greenyellow;
}